*{
  margin: 0px auto;
  padding: 10px;

}
.quizApp{
  display: block;
  align-items: center;
  text-align: center;
  border: 1px solid;
  background-color: blanchedalmond;
  max-width: 800px;
  width:700px;
  box-shadow: 4px 7px 5px #666;
  
}
.options{
  background-color: aqua;
  padding: 5px;
  width: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
.option-section{
  display: flex;
  padding: 16px;
  justify-content:space-between;
  
}
.score-section{
  border: 3px solid rgb(255, 0, 0);
  border-radius: 13px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
.question{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}